.gallery-element {
	display: flex;
	border-bottom: 1px solid grey;
	flex-direction: column;
}

.modal-button {
	max-width: none;
	width: 250px;
}

.gallery-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
	padding-top: 30px;
	margin-bottom: 30px;
}

.gallery-right {
	margin-left: 5px;
	width: 70%;
	display: flex;
	justify-content: flex-end;
}

.gallery-image {
	width: 100%;
}

.text-field {
	color: black;
}

.gallery-form {
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-elements > label {
	display: flex;
	font-size: large;
	margin-bottom: 5px;
}

.text-field {
	border: none;
	font-family: inherit;
	font-size: large;
	margin-left: 15px;
	width: 100%;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}

.text-field:focus {
	outline: none;
}

.text-field:disabled {
	background: none;
	border: none;
}

.gallery-element-button {
	margin-top: 30px;
	margin-right: 20px;
	margin-bottom: 40px;
}

select {
	margin-left: 10px;
	color: black;
	font-family: inherit;
	font-size: inherit;
	background: none;
	padding-left: 10px;
}

select:hover {
	cursor: pointer;
}

select:disabled {
	cursor: auto;
	border: none;
	background: none;
	color: black;
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: "";
}

select::-ms-expand {
	display: none;
}

.error-box {
	background-color: #c62121;
	color: white;
	padding: 15px 30px;
	text-align: center;
	vertical-align: middle;
}

.gallery-top {
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.gallery-bottom {
	display: flex;
}

.form-elements {
	display: flex;
	flex-direction: column;
}
