.gallery-element {
	display: flex;
	border-bottom: 1px solid black;
	align-items: center;
}

.gallery-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

.gallery-right {
	margin-left: 5px;
	width: 70%;
	display: flex;
	justify-content: flex-end;
}

.gallery-image {
	width: 100%;
}

.text-field {
	color: black;
}

.gallery-form {
	padding-top: 10px;
	padding-bottom: 10px;
}

.gallery-form > label {
	display: flex;
	font-size: large;
	margin-bottom: 5px;
}

.text-field {
	border: none;
	font-family: inherit;
	font-size: large;
	margin-left: 15px;
	width: 100%;
	border-bottom: 1px solid black;
	box-sizing: border-box;
}

.text-field:focus {
	outline: none;
}

.text-field:disabled {
	background: none;
	border: none;
}
